@import "../../design-tokens/scss-variables";

$iconSizeMobile: 24px;
$iconSizeB1: 32px;
$iconSizeB2: 32px;
$iconSizeB3: 36px;
$iconSizeB4: 36px;
$iconSizeB5: 40px;
$iconSizeB6: 40px;

.ContactSection {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0;

  /* Other */
  background-color: var(--color-primary);

  .Contact {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: 400px;

    h3 {
      /* Other */
      color: white;
      line-height: 150%;
      text-align: center;
      font-weight: 400;
    }

    .ContactLinks {
      margin: 40px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 56%;

      .ContactLink {
        img {
          /* Display & Box Model */
          width: $iconSizeMobile;
          height: $iconSizeMobile;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB1) {
  .ContactSection {
    .Contact {
      /* Display & Box Model */
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h3 {
        /* Other */
        text-align: left;
      }
      .ContactLinks {
        /* Display & Box Model */
        max-width: 40%;

        .ContactLink {
          img {
            /* Display & Box Model */
            width: $iconSizeB1;
            height: $iconSizeB1;
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB2) {
  .ContactSection {
    .Contact {
      .ContactLinks {
        .ContactLink {
          img {
            /* Display & Box Model */
            width: $iconSizeB2;
            height: $iconSizeB2;
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB3) {
  .ContactSection {
    .Contact {
      .ContactLinks {
        .ContactLink {
          img {
            /* Display & Box Model */
            width: $iconSizeB3;
            height: $iconSizeB3;
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB4) {
  .ContactSection {
    .Contact {
      .ContactLinks {
        /* Display & Box Model */
        max-width: 30%;
        
        .ContactLink {
          img {
            /* Display & Box Model */
            width: $iconSizeB4;
            height: $iconSizeB4;
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB5) {
  .ContactSection {
    .Contact {
      .ContactLinks {
        .ContactLink {
          img {
            /* Display & Box Model */
            width: $iconSizeB5;
            height: $iconSizeB5;
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB6) {
  .ContactSection {
    .Contact {
      .ContactLinks {
        .ContactLink {
          img {
            /* Display & Box Model */
            width: $iconSizeB6;
            height: $iconSizeB6;
          }
        }
      }
    }
  }
}
