/* Breakpoint Sizes */
$screenWidthB1: 681px;
$screenWidthB2: 801px;
$screenWidthB3: 1001px;
$screenWidthB4: 1201px;
$screenWidthB5: 1401px;
$screenWidthB6: 1921px;

$contentMaxWidthMobile: 80%;
$contentMaxWidthB1: 80%;
$contentMaxWidthB2: 70%;
$contentMaxWidthB3: 70%;
$contentMaxWidthB4: 60%;
$contentMaxWidthB5: 60%;
$contentMaxWidthB6: 50%;

$fontSizeSectionHeaderMobile: 20px;
$fontSizeSectionHeaderB1: 26px;
$fontSizeSectionHeaderB2: 26px;
$fontSizeSectionHeaderB3: 36px;
$fontSizeSectionHeaderB4: 40px;
$fontSizeSectionHeaderB5: 44px;
$fontSizeSectionHeaderB6: 48px;

.ContactSection {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0;

  /* Other */
  background-color: var(--color-primary);

  .ContactContent {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $contentMaxWidthMobile;
    max-width: 400px;

    h3 {
      /* Other */
      font-family: var(--font-family-primary);
      font-size: $fontSizeSectionHeaderMobile;
      color: white;
      line-height: 150%;
      text-align: center;
      font-weight: 400;
    }

    .ContactLinks {
      margin: 40px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .ContactLink {
        img {
          /* Display & Box Model */
          width: 36px;
          height: 36px;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (min-width: $screenWidthB1) {
  .ContactSection {
    .ContactContent {
      /* Display & Box Model */
      width: $contentMaxWidthB1;

      h3 {
        /* Other */
        font-size: $fontSizeSectionHeaderB1;
        text-align: left;
      }
    }
  }
}

@media (min-width: $screenWidthB2) {
  .ContactSection {
    .ContactContent {
      /* Display & Box Model */
      width: $contentMaxWidthB2;

      h3 {
        /* Other */
        font-size: $fontSizeSectionHeaderB2;
      }
    }
  }
}

@media (min-width: $screenWidthB3) {
  .ContactSection {
    .ContactContent {
      /* Display & Box Model */
      width: $contentMaxWidthB3;

      h3 {
        /* Other */
        font-size: $fontSizeSectionHeaderB3;
      }
    }
  }
}

@media (min-width: $screenWidthB4) {
  .ContactSection {
    .ContactContent {
      /* Display & Box Model */
      width: $contentMaxWidthB4;

      h3 {
        /* Other */
        font-size: $fontSizeSectionHeaderB4;
      }
    }
  }
}

@media (min-width: $screenWidthB5) {
  .ContactSection {
    .ContactContent {
      /* Display & Box Model */
      width: $contentMaxWidthB5;

      h3 {
        /* Other */
        font-size: $fontSizeSectionHeaderB5;
      }
    }
  }
}

@media (min-width: $screenWidthB6) {
  .ContactSection {
    .ContactContent {
      /* Display & Box Model */
      width: $contentMaxWidthB6;

      h3 {
        /* Other */
        font-size: $fontSizeSectionHeaderB6;
      }
    }
  }
}
