@import "../../design-tokens/scss-variables.scss";

.Projects {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 100px auto;

  .ProjectsContainer {
    /* Display & Box Model */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    // padding-top: 40px;
    margin: 0 auto;
  }

  h3 {
    // width: 100%;
    margin: 12px 0;
  }

  .Projects a {
    text-decoration: none;
  }
}

@media (min-width: $screenWidthB1) {
  .Projects {
    /* Display & Box Model */
    width: $contentMaxWidthB1;

    h3 {
      /* Display & Box Model */
      width: 100%;

      /* Other */
      text-align: left;
    }
  }
}

@media (min-width: $screenWidthB2) {
  .Projects {
    /* Display & Box Model */
    width: $contentMaxWidthB2;
  }
}

@media (min-width: $screenWidthB3) {
  .Projects {
    /* Display & Box Model */
    width: $contentMaxWidthB3;
  }
}

@media (min-width: $screenWidthB4) {
  .Projects {
    /* Display & Box Model */
    width: $contentMaxWidthB4;
  }
}

@media (min-width: $screenWidthB5) {
  .Projects {
    /* Display & Box Model */
    width: $contentMaxWidthB5;
  }
}

@media (min-width: $screenWidthB6) {
  .Projects {
    /* Display & Box Model */
    width: $contentMaxWidthB6;
  }
}
