:root {
  --color-primary: #6380CD;
  --color-secondary: #000000;
  --font-family-primary: "Fira Sans";
  --font-family-secondary: "Darker Grotesque";
  --font-size-h1: 72px;
  --font-size-h2: 48px;
  --font-size-p1: 32px;
  --font-size-p2: 24px;
  --content-widthpct-large: 60%;
}

